In [51]:
import pandas as pd
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df1 = pd.DataFrame(data)
df1.loc[:,'class'] = ('1반','2반','1반','2반')
print(df1)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [52]:
df2 = df1
df2.loc[:,'class'] = ('1반','2반','1반','2반')
df2.loc[4] = ['마이콜',80,80,80,'1반']
print(df2)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [53]:
df3 = df2
df3.set_index('name',inplace=True)
df3.columns = ('국어','영어','수학','반번호')
print(df3)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [55]:
df4 = df3
df4.loc['마이콜']= [100,100,100,'1반']
df4.loc['희동이','영어'] = 90
print(df4)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [69]:
df5 = df4.reset_index()
print(df5)
df5.rename(columns={'name':'성명'}, inplace=True)
print(df5)

  name   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반
    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [70]:
df6 = df5.sort_values(by="국어", ascending=False)
print(df6)
df6 = df5.sort_values(by="영어")
print(df6)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
    성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [72]:
df6["총점"] = df6["국어"] + df6["영어"] + df6["수학"]
df6 = df6.sort_values(by="총점", ascending=False)
print(df6)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [73]:
df7 = df6.drop("반번호", axis=1)
print(df7)
print(df6)

    성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [74]:
df8 = df7.copy()
df8.drop(4, axis=0, inplace=True)
print(df8)
print(df7)

    성명  국어  영어  수학   총점
0   둘리  90  99  90  279
1   또치  80  98  70  248
2  도우너  70  97  70  237
3  희동이  70  90  60  220
    성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220

In [75]:
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
result = series1.add(series2, fill_value=0).add(series3, fill_value=0)
print(result)

eng    140.0
kor    270.0
mat    160.0
dtype: float64

In [77]:
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
} 
df8 = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])
print(df_new)
df8.loc["Y6"] = range(10, 50, 10)
print(df_new)
df8 += 10
print(df_new)
df8["total"] = df_new["X1"] + df_new["X2"] + df_new["X3"] + df_new["X4"]
print(df8)
print(df8.transpose())

      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0
      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0
      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0
      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0
         Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0