In [125]:
import pandas as pd
import seaborn as sns
import numpy as np
import random

iris = sns.load_dataset("iris")
iris_x = iris.loc[:,['sepal_length', 'sepal_width',
            'petal_length', 'petal_width']]
random.seed(1)
for col in range(4):
    iris_x.iloc[[random.sample(range(len(iris)), 20)], col] = float('nan')
iris_x.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          NaN           1.3          0.2
3           4.6          3.1           1.5          NaN
4           5.0          3.6           1.4          0.2
5           5.4          NaN           1.7          0.4
6           4.6          NaN           1.4          0.3
7           NaN          NaN           1.5          NaN
8           4.4          2.9           NaN          0.2
9           4.9          3.1           1.5          0.1

In [112]:
print("1.")
print(iris_x.dropna().head(3))

1.
   sepal_length  sepal_width  petal_length  petal_width
1           4.9          3.0           1.4          0.2
4           5.0          3.6           1.4          0.2
9           4.9          3.1           1.5          0.1

In [113]:
print("2.")
print(iris_x.dropna(subset=['sepal_length', 'sepal_width'], how='all',axis=0).head(10))

2.
    sepal_length  sepal_width  petal_length  petal_width
0            NaN          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          NaN           1.3          0.2
3            4.6          3.1           1.5          NaN
4            5.0          3.6           1.4          0.2
5            5.4          NaN           1.7          0.4
6            4.6          NaN           1.4          0.3
8            4.4          2.9           NaN          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2

In [114]:
print("3.")
print(iris_x.dropna(subset=['sepal_length', 'sepal_width',], how='any',axis=0).head(10))

3.
    sepal_length  sepal_width  petal_length  petal_width
1            4.9          3.0           1.4          0.2
3            4.6          3.1           1.5          NaN
4            5.0          3.6           1.4          0.2
8            4.4          2.9           NaN          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2
11           4.8          3.4           1.6          NaN
12           4.8          3.0           1.4          0.1
13           4.3          3.0           1.1          0.1
14           5.8          4.0           1.2          0.2

In [121]:
print("4.")
iris_4 = iris_x
iris_4.fillna(0.0, inplace=True)
print(iris_4.head(10))

4.
   sepal_length  sepal_width  petal_length  petal_width
0           0.0          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          0.0           1.3          0.2
3           4.6          3.1           1.5          0.0
4           5.0          3.6           1.4          0.2
5           5.4          0.0           1.7          0.4
6           4.6          0.0           1.4          0.3
7           0.0          0.0           1.5          0.0
8           4.4          2.9           0.0          0.2
9           4.9          3.1           1.5          0.1

In [123]:
print("5.")
iris_x.fillna(round(iris_x.mean()), inplace=True)
print(iris_x.head(10))

5.
   sepal_length  sepal_width  petal_length  petal_width
0           6.0          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.0           1.3          0.2
3           4.6          3.1           1.5          1.0
4           5.0          3.6           1.4          0.2
5           5.4          3.0           1.7          0.4
6           4.6          3.0           1.4          0.3
7           6.0          3.0           1.5          1.0
8           4.4          2.9           4.0          0.2
9           4.9          3.1           1.5          0.1

In [70]:
print("6.")
iris_6 = iris_x
iris_6.fillna(10, inplace=True)
print(iris_6.head(10))

6.
   sepal_length  sepal_width  petal_length  petal_width
0          10.0          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7         10.0           1.3          0.2
3           4.6          3.1           1.5         10.0
4           5.0          3.6           1.4          0.2
5           5.4         10.0           1.7          0.4
6           4.6         10.0           1.4          0.3
7          10.0         10.0           1.5         10.0
8           4.4          2.9          10.0          0.2
9           4.9          3.1           1.5          0.1

In [126]:
print("7.")
iris_7 = iris_x
iris_7.fillna(method='ffill', inplace=True)
print(iris_7.head(10))

7.
   sepal_length  sepal_width  petal_length  petal_width
0           NaN          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.0           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.6           1.7          0.4
6           4.6          3.6           1.4          0.3
7           4.6          3.6           1.5          0.3
8           4.4          2.9           1.5          0.2
9           4.9          3.1           1.5          0.1

In [102]:
df = pd.read_csv('./data/product_click.log',header=None,sep=" ", dtype="object")
print("2-1.")
print(df.head(5))
print(df.info())

2-1.
              0     1
0  201612120944  p001
1  201612120944  p003
2  201612120944  p003
3  201612120945  p008
4  201612121052  p008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       746 non-null    object
 1   1       746 non-null    object
dtypes: object(2)
memory usage: 11.8+ KB
None

In [103]:
print("2-2.")
df.columns = ['oldclicktime','clickpid']
print(df.head())

2-2.
   oldclicktime clickpid
0  201612120944     p001
1  201612120944     p003
2  201612120944     p003
3  201612120945     p008
4  201612121052     p008

In [104]:
print("2-3.")
print(df.info())

2-3.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   oldclicktime  746 non-null    object
 1   clickpid      746 non-null    object
dtypes: object(2)
memory usage: 11.8+ KB
None

In [107]:
print("2-5.")
pid_dummies = pd.get_dummies(df["clickpid"])
print(pid_dummies)

2-5.
     p001  p002  p003  p004  p005  p006  p007  p008  p009  p010
0       1     0     0     0     0     0     0     0     0     0
1       0     0     1     0     0     0     0     0     0     0
2       0     0     1     0     0     0     0     0     0     0
3       0     0     0     0     0     0     0     1     0     0
4       0     0     0     0     0     0     0     1     0     0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
741     0     0     0     1     0     0     0     0     0     0
742     0     0     0     1     0     0     0     0     0     0
743     0     0     0     0     0     0     0     0     1     0
744     0     0     0     0     1     0     0     0     0     0
745     0     0     0     0     0     0     0     0     1     0

[746 rows x 10 columns]