### Pandas 실습 1

In [2]:
import pandas as pd
# (1) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.
sr = pd.Series(range(10, 60, 10))
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# (2) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.
sr = pd.Series(range(1, 6), index = ["a", "b", "c", "d", "e"])
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# (3) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.(딕셔너리로 생성)
dict_data = {"학생1": "둘리", 
             "학생2": "또치",
             "학생3": "도우너",
             "학생4": "회동이",
             "학생5": "마이콜"}
sr = pd.Series(dict_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    회동이
학생5    마이콜
dtype: object

In [5]:
# (4) 다음의 결과내용으로 참조하여 Series를 생성하고 동일하게 출력한다.(리스트로 생성)
list_data = ["둘리", "또치", "도우너", "희동이", "마이콜"]
sr = pd.Series(list_data, index = ["학생1", "학생2", "학생3", "학생4", "학생5"])
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [6]:
# (5) 다음에 제시된 소스로 Series를 생성하고 제시된 결과 화면과 동일하게 출력하도록 구현한다.
blood = ["A형", "B형", "O형", "AB형"]
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)
print(f"[시리즈 sr 출력]\n"
      f"{sr}\n"
      f"[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]\n"
      f"{sr[0]}\n"
      f"{sr[-1]}\n"
      f"{sr[1]}\n"
      f"{sr[1:4]}\n"
      f"[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]\n"
      f"{sr['A형']}\n"
      f"{sr['AB형']}\n"
      f"{sr['B형']}\n"
      f"{sr['B형':'AB형']}\n"
      f"[시리즈 sr의 크기 출력]\n"
      f"{len(sr)}\n"
      f"[시리즈 sr의 인덱스 출력]\n"
      f"{sr.index}\n"
      f"[시리즈 sr의 데이터 값 출력]\n"
      f"{sr.values}")

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr의 크기 출력]
4
[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[시리즈 sr의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [7]:
# (6) 다음의 결과내용을 참조하여 DataFrame을 생성하고 동일하게 출력한다.
df_data = {"name": ["둘리", "또치", "도우너", "희동이"],
           "kor": [90, 80, 70, 70],
           "eng": [99, 98, 97, 46],
           "mat": [90, 70, 70, 60]}
df = pd.DataFrame(df_data)
print(f"타입 : {type(df)}\n"
      f"{df}")

타입 : <class 'pandas.core.frame.DataFrame'>
  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [8]:
# (7) 다음의 결과내용을 참조하여 DataFrame을 생성하고 동일하게 출력한다.
df_data = {"name": ["둘리", "또치", "도우너", "희동이"],
           "kor": [90, 80, 70, 70],
           "eng": [99, 98, 97, 46],
           "mat": [90, 70, 70, 60]}
df = pd.DataFrame(df_data, index = ["학생1", "학생2", "학생3", "학생4"])
print(f"타입 : {type(df)}\n"
      f"{df}")

타입 : <class 'pandas.core.frame.DataFrame'>
    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [9]:
# (8) 7번 문제에서 생성한 DataFrame에서 인덱스와 컬럼명을 다음과 같이 변경하여 출력한다.
df.rename(columns = {"name": "dooly", 
                     "kor": "doochi", 
                     "eng": "dounar",
                     "mat": "heedong"}, inplace=True)
df.rename(index = {"학생1": "st1",
                   "학생2": "st2",
                   "학생3": "st3",
                   "학생4": "st4"}, inplace=True)
print(df)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [14]:
# (9) 다음에 제시된 내용으로 DataFrame 을 생성하고 서브 문제에서 제시된 기능을 구현한다.
data = {'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', 
                '듀크6', '듀크7'],
        'kor':[90, 80, 70, 70, 60, 70, 90],
        'eng':[99, 98, 97, 46, 77, 56, 90],
        'mat':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)

# (9-1) 앞에서 다섯 행만 출력한다.
print(df[0:5])

# (9-2) 뒤에서 다섯 행만 출력한다.
print(df[2:])

# (9-3) 컬럼명들을 출력한다.
print(df.columns)

# (9-4) name 컬럼만 출력한다.(추출시 [] 사용)
print(df["name"])

# (9-5) eng 컬럼만 출력한다.(추출시 . 사용)
print(df.eng)

# (9-6) kor과 mat 컬럼만 출력한다.
print(df[["kor", "mat"]])

# (9-7) iloc 인덱서를 사용하여 네 번째 행을 출력한다.
print("---------- iloc 함수 사용 ----------")
print(df.iloc[3])

# (9-8) iloc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다.
print(df.iloc[0, 0])

# (9-9) iloc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다.
print(df.iloc[3, 2])

# (9-10) iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다.
print(df.iloc[2:4, 2])

# (9-11) iloc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다.
print(df.iloc[2:4, 2:4])

# (9-12) loc 인덱서를 사용하여 네 번째 행을 출력한다.
print("---------- loc 함수 사용 ----------")
print(df.loc[3])

# (9-13) loc 인덱서를 사용하여 첫 번째 행, 첫 번째 열을 출력한다.
print(df.loc[0, "name"])

# (9-14) loc 인덱서를 사용하여 네 번째 행, 세 번째 열을 출력한다.
print(df.loc[3, "eng"])

# (9-15) loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째 열을 출력한다.
print(df.loc[2:3, "eng"])

# (9-16) loc 인덱서를 사용하여 세 번째와 네 번째 행의 세 번째와 네 번째열을 출력한다.
print(df.loc[2:3, "eng":])

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90
---------- iloc 함수 사용 ----------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60
---------- loc 함수 사용 ----------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  mat
2   97   70
3   46   60

In [16]:
# (10) 9번 문제에서 사용한 df 라는 DataFrame의 숫자 index를 다음과 같이 name 컬럼으로 변경하고 df 를 출력한다.
df.set_index("name", inplace = True)
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90