In [89]:
import pandas as pd
df = pd.read_csv('data/rank.csv',encoding='utf-8')
time = pd.read_csv("./data/countries.csv",encoding='utf-8')

In [90]:
time = time.replace('Democratic Republic of the Congo','Congo DR')
time = time.replace('Republic of the Congo','Congo')
time = time.replace('United States','USA')
time = time.replace('Kingdom of the Netherlands','Netherlands')
time = time.replace('The Gambia','Gambia')
time = time.replace('Saint Kitts and Nevis','St. Kitts and Nevis')
time = time.replace('Saint Lucia','St. Lucia')
time = time.replace('Saint Vincent and the Grenadines','St. Vincent and the Grenadines')
time = time.replace("People's Republic of China",'China')

In [91]:
df2 = pd.merge(df, time, how='left', on='name')

In [92]:
print(df2.tail())

           name  1992-12-31  1993-08-08  1993-09-23  1993-10-22  1993-11-19  \
211       Wales        28.0        27.0        29.0        28.0        28.0
212       Yemen       115.0        90.0        90.0        93.0        90.0
213  Yugoslavia        29.0        56.0        62.0        65.0        67.0
214      Zambia        32.0        25.0        27.0        25.0        29.0
215    Zimbabwe        54.0        50.0        47.0        43.0        46.0

     1993-12-23  1994-02-15  1994-03-15  1994-04-19  ...  2021-09-16  \
211        29.0        27.0        27.0        32.0  ...        19.0
212        91.0        91.0        91.0        91.0  ...       152.0
213        68.0        70.0        74.0        74.0  ...         NaN
214        27.0        30.0        22.0        19.0  ...        85.0
215        46.0        46.0        41.0        41.0  ...       113.0

     2021-10-21  2021-11-19  2021-12-23  2022-02-10  2022-03-31  \
211        19.0        19.0        19.0        20.0        18.0
212       151.0       152.0       151.0       151.0       151.0
213         NaN         NaN         NaN         NaN         NaN
214        87.0        88.0        88.0        88.0        87.0
215       118.0       121.0       121.0       122.0       122.0

           timezones  code  continent   capital
211    Europe/London    GB     Europe   Cardiff
212        Asia/Aden    YE       Asia    Sana'a
213  Europe/Belgrade    YG     Europe  Belgrade
214    Africa/Lusaka    ZM     Africa    Lusaka
215    Africa/Harare    ZW     Africa    Harare

[5 rows x 324 columns]

In [93]:
from pytz import timezone
from datetime import datetime

cup2018 = int(str(datetime.now(timezone('Europe/Moscow')))[-5:-3])+int(str(datetime.now(timezone('Europe/Moscow')))[-2:])/60
cup2022 = int(str(datetime.now(timezone('Asia/Qatar')))[-5:-3])+int(str(datetime.now(timezone('Asia/Qatar')))[-2:])/60
timeDiff2018 = []
timeDiff2022 = []
print(len(df2['timezones']))
for i in df2['timezones']:
    timeNow = int(str(datetime.now(timezone(i)))[-5:-3])+int(str(datetime.now(timezone(i)))[-2:])/60
    timeDiff2018.append(abs(timeNow-cup2018))
    timeDiff2022.append(abs(timeNow-cup2022))

timeDiff2018 = pd.DataFrame(timeDiff2018, columns = ['timeDiff2018'])
timeDiff2022 = pd.DataFrame(timeDiff2022, columns = ['timeDiff2022'])

df3 = pd.concat([df2, timeDiff2018, timeDiff2022],axis=1)

216
               name  1992-12-31  1993-08-08  1993-09-23  1993-10-22  \
0       Afghanistan         NaN         NaN         NaN         NaN
1           Albania        86.0        92.0        91.0        91.0
2           Algeria        30.0        34.0        30.0        31.0
3    American Samoa         NaN         NaN         NaN         NaN
4           Andorra         NaN         NaN         NaN         NaN
..              ...         ...         ...         ...         ...
211           Wales        28.0        27.0        29.0        28.0
212           Yemen       115.0        90.0        90.0        93.0
213      Yugoslavia        29.0        56.0        62.0        65.0
214          Zambia        32.0        25.0        27.0        25.0
215        Zimbabwe        54.0        50.0        47.0        43.0

     1993-11-19  1993-12-23  1994-02-15  1994-03-15  1994-04-19  ...  \
0           NaN         NaN         NaN         NaN         NaN  ...
1          93.0        92.0        93.0        95.0        94.0  ...
2          33.0        35.0        37.0        37.0        38.0  ...
3           NaN         NaN         NaN         NaN         NaN  ...
4           NaN         NaN         NaN         NaN         NaN  ...
..          ...         ...         ...         ...         ...  ...
211        28.0        29.0        27.0        27.0        32.0  ...
212        90.0        91.0        91.0        91.0        91.0  ...
213        67.0        68.0        70.0        74.0        74.0  ...
214        29.0        27.0        30.0        22.0        19.0  ...
215        46.0        46.0        46.0        41.0        41.0  ...

     2021-11-19  2021-12-23  2022-02-10  2022-03-31          timezones  code  \
0         150.0       149.0       150.0       150.0         Asia/Kabul    AF
1          66.0        66.0        65.0        66.0      Europe/Tirane    AL
2          32.0        29.0        43.0        44.0     Africa/Algiers    DZ
3         190.0       190.0       190.0       189.0  Pacific/Pago_Pago    AS
4         155.0       155.0       155.0       153.0     Europe/Andorra    AD
..          ...         ...         ...         ...                ...   ...
211        19.0        19.0        20.0        18.0      Europe/London    GB
212       152.0       151.0       151.0       151.0          Asia/Aden    YE
213         NaN         NaN         NaN         NaN    Europe/Belgrade    YG
214        88.0        88.0        88.0        87.0      Africa/Lusaka    ZM
215       121.0       121.0       122.0       122.0      Africa/Harare    ZW

         continent           capital  timeDiff2018  timeDiff2022
0             Asia             Kabul           1.5           1.5
1           Europe            Tirana           1.0           1.0
2           Africa           Algiers           2.0           2.0
3    North America         Pago Pago           8.0           8.0
4           Europe  Andorra la Vella           1.0           1.0
..             ...               ...           ...           ...
211         Europe           Cardiff           2.0           2.0
212           Asia            Sana'a           0.0           0.0
213         Europe          Belgrade           1.0           1.0
214         Africa            Lusaka           1.0           1.0
215         Africa            Harare           1.0           1.0

[216 rows x 326 columns]

In [95]:
print(df3.head())

             name  1992-12-31  1993-08-08  1993-09-23  1993-10-22  1993-11-19  \
0     Afghanistan         NaN         NaN         NaN         NaN         NaN
1         Albania        86.0        92.0        91.0        91.0        93.0
2         Algeria        30.0        34.0        30.0        31.0        33.0
3  American Samoa         NaN         NaN         NaN         NaN         NaN
4         Andorra         NaN         NaN         NaN         NaN         NaN

   1993-12-23  1994-02-15  1994-03-15  1994-04-19  ...  2021-11-19  \
0         NaN         NaN         NaN         NaN  ...       150.0
1        92.0        93.0        95.0        94.0  ...        66.0
2        35.0        37.0        37.0        38.0  ...        32.0
3         NaN         NaN         NaN         NaN  ...       190.0
4         NaN         NaN         NaN         NaN  ...       155.0

   2021-12-23  2022-02-10  2022-03-31          timezones  code      continent  \
0       149.0       150.0       150.0         Asia/Kabul    AF           Asia
1        66.0        65.0        66.0      Europe/Tirane    AL         Europe
2        29.0        43.0        44.0     Africa/Algiers    DZ         Africa
3       190.0       190.0       189.0  Pacific/Pago_Pago    AS  North America
4       155.0       155.0       153.0     Europe/Andorra    AD         Europe

            capital  timeDiff2018  timeDiff2022
0             Kabul           1.5           1.5
1            Tirana           1.0           1.0
2           Algiers           2.0           2.0
3         Pago Pago           8.0           8.0
4  Andorra la Vella           1.0           1.0

[5 rows x 326 columns]

In [97]:
df3.to_csv("./data/dataframe.csv")