In [1]:
import pandas as pd
df = pd.read_csv('data/fifa_rank.csv',encoding='utf-8')

print(df.head())

        name  rank       time
0     Brazil     1  31-Mar-22
1    Belgium     2  31-Mar-22
2     France     3  31-Mar-22
3  Argentina     4  31-Mar-22
4    England     5  31-Mar-22

In [2]:
from datetime import datetime
import numpy as np

df['time'] = pd.to_datetime(df['time'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63283 entries, 0 to 63282
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    63283 non-null  object
 1   rank    63283 non-null  int64
 2   time    63283 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.4+ MB
None

In [3]:
df['Year'] = df['time'].dt.year

print(df.head())

        name  rank       time  Year
0     Brazil     1 2022-03-31  2022
1    Belgium     2 2022-03-31  2022
2     France     3 2022-03-31  2022
3  Argentina     4 2022-03-31  2022
4    England     5 2022-03-31  2022

In [4]:
df2 = df
print(df2.info())
df2 = df2.replace("North Macedonia","Macedonia")
df2 = df2.replace("FYR Macedonia","Macedonia")
df2 = df2.replace("Cabo Verde","Cape Verde")
df2 = df2.replace("Cape Verde Islands","Cape Verde")
df2 = df2.replace("IR Iran","Iran")
df2 = df2.replace("China PR","China")
df2 = df2.replace("Korea Republic","South Korea")
df2 = df2.replace("Korea DPR","North Korea")
df2 = df2.replace("Kyrgyz Republic","Kyrgyzstan")
df2 = df2.replace("Zaire","Congo DR")
df2 = df2.replace("Timor-Leste","East Timor")

print(df2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63283 entries, 0 to 63282
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    63283 non-null  object
 1   rank    63283 non-null  int64
 2   time    63283 non-null  datetime64[ns]
 3   Year    63283 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.9+ MB
None
                           name  rank       time  Year
0                        Brazil     1 2022-03-31  2022
1                       Belgium     2 2022-03-31  2022
2                        France     3 2022-03-31  2022
3                     Argentina     4 2022-03-31  2022
4                       England     5 2022-03-31  2022
...                         ...   ...        ...   ...
63278                   Belarus   146 1992-12-31  1992
63279                Seychelles   147 1992-12-31  1992
63280  Central African Republic   148 1992-12-31  1992
63281                     Nepal   149 1992-12-31  1992
63282                    Gambia   150 1992-12-31  1992

[63283 rows x 4 columns]

In [8]:
df3 = np.trunc(pd.pivot_table(df2,
                    index = 'name',
                    columns = 'Year',
                    values = 'rank'))

print(df3.head())

Year            1992  1993   1994  1995   1996   1997   1998   1999   2000  \
name
Afghanistan      NaN   NaN    NaN   NaN    NaN    NaN    NaN    NaN    NaN
Albania         86.0  91.0  100.0  96.0  102.0  118.0  103.0   90.0   84.0
Algeria         30.0  32.0   47.0  52.0   45.0   55.0   61.0   76.0   78.0
American Samoa   NaN   NaN    NaN   NaN    NaN    NaN  192.0  198.0  201.0
Andorra          NaN   NaN    NaN   NaN    NaN  185.0  178.0  156.0  146.0

Year             2001  ...   2013   2014   2015   2016   2017   2018   2019  \
name                   ...
Afghanistan       NaN  ...  145.0  132.0  141.0  149.0  153.0  145.0  148.0
Albania          84.0  ...   51.0   59.0   44.0   41.0   62.0   58.0   64.0
Algeria          77.0  ...   31.0   22.0   20.0   34.0   53.0   64.0   49.0
American Samoa  201.0  ...  194.0  196.0  192.0  175.0  190.0  191.0  191.0
Andorra         143.0  ...  202.0  199.0  202.0  202.0  165.0  132.0  135.0

Year             2020   2021   2022
name
Afghanistan     149.0  150.0  150.0
Albania          66.0   66.0   65.0
Algeria          33.0   31.0   43.0
American Samoa  192.0  191.0  189.0
Andorra         140.0  155.0  154.0

[5 rows x 31 columns]

In [10]:
df3.to_csv('data/rank.csv',encoding='utf-8')

In [39]:
import pandas as pd
df3 = pd.read_csv('data/rank.csv',encoding='utf-8')
time = pd.read_csv("./data/countries.csv",encoding='utf-8')
short = pd.read_csv("./data/Shortname.csv",encoding='utf-8')

In [40]:
time = time.replace('Democratic Republic of the Congo','Congo DR')
time = time.replace('Republic of the Congo','Congo')
time = time.replace('United States','USA')
time = time.replace('Kingdom of the Netherlands','Netherlands')
time = time.replace('The Gambia','Gambia')
time = time.replace('Saint Kitts and Nevis','St. Kitts and Nevis')
time = time.replace('Saint Lucia','St. Lucia')
time = time.replace('Saint Vincent and the Grenadines','St. Vincent and the Grenadines')
time = time.replace("People's Republic of China",'China')

In [41]:
short = short.replace("North Macedonia","Macedonia")
short = short.replace("FYR Macedonia","Macedonia")
short = short.replace("Cabo Verde","Cape Verde")
short = short.replace("Cape Verde Islands","Cape Verde")
short = short.replace("IR Iran","Iran")
short = short.replace("China PR","China")
short = short.replace("Korea Republic","South Korea")
short = short.replace("Korea DPR","North Korea")
short = short.replace("Kyrgyz Republic","Kyrgyzstan")
short = short.replace("Zaire","Congo DR")
short = short.replace("Timor-Leste","East Timor")

In [42]:
df4 = pd.merge(df3, time, how='left', on='name')
df4 = pd.merge(df4, short, how='outer', on='name')

In [43]:
print(df4.tail())

           name   1992  1993  1994   1995   1996   1997   1998   1999   2000  \
212       Wales   28.0  28.0  34.0   51.0   71.0   90.0  100.0   83.0  103.0
213       Yemen  115.0  90.0  99.0  112.0  132.0  134.0  138.0  150.0  158.0
214  Yugoslavia   29.0  63.0  82.0   85.0   68.0   37.0    7.0   16.0   10.0
215      Zambia   32.0  26.0  21.0   27.0   16.0   20.0   22.0   35.0   41.0
216    Zimbabwe   54.0  46.0  46.0   47.0   65.0   62.0   77.0   73.0   69.0

     ...   2019   2020   2021   2022        timezones  code  continent  \
212  ...   22.0   21.0   18.0   19.0    Europe/London    GB     Europe
213  ...  142.0  144.0  149.0  151.0        Asia/Aden    YE       Asia
214  ...    NaN    NaN    NaN    NaN  Europe/Belgrade    YG     Europe
215  ...   82.0   88.0   87.0   87.0    Africa/Lusaka    ZM     Africa
216  ...  112.0  110.0  113.0  122.0    Africa/Harare    ZW     Africa

      capital  country_abrv  confederation
212   Cardiff           WAL           UEFA
213    Sana'a           YEM            AFC
214  Belgrade           YUG           UEFA
215    Lusaka           ZAM            CAF
216    Harare           ZIM            CAF

[5 rows x 38 columns]

In [44]:
from pytz import timezone
from datetime import datetime

cup2018 = int(str(datetime.now(timezone('Europe/Moscow')))[-5:-3])+int(str(datetime.now(timezone('Europe/Moscow')))[-2:])/60
cup2022 = int(str(datetime.now(timezone('Asia/Qatar')))[-5:-3])+int(str(datetime.now(timezone('Asia/Qatar')))[-2:])/60
timeDiff2018 = []
timeDiff2022 = []
print(len(df4['timezones']))
for i in df4['timezones']:
    timeNow = int(str(datetime.now(timezone(i)))[-5:-3])+int(str(datetime.now(timezone(i)))[-2:])/60
    timeDiff2018.append(abs(timeNow-cup2018))
    timeDiff2022.append(abs(timeNow-cup2022))

timeDiff2018 = pd.DataFrame(timeDiff2018, columns = ['timeDiff2018'])
timeDiff2022 = pd.DataFrame(timeDiff2022, columns = ['timeDiff2022'])

df5 = pd.concat([df4, timeDiff2018, timeDiff2022],axis=1)

217

In [45]:
print(df5)

               name   1992  1993   1994   1995   1996   1997   1998   1999  \
0       Afghanistan    NaN   NaN    NaN    NaN    NaN    NaN    NaN    NaN
1           Albania   86.0  91.0  100.0   96.0  102.0  118.0  103.0   90.0
2           Algeria   30.0  32.0   47.0   52.0   45.0   55.0   61.0   76.0
3    American Samoa    NaN   NaN    NaN    NaN    NaN    NaN  192.0  198.0
4           Andorra    NaN   NaN    NaN    NaN    NaN  185.0  178.0  156.0
..              ...    ...   ...    ...    ...    ...    ...    ...    ...
212           Wales   28.0  28.0   34.0   51.0   71.0   90.0  100.0   83.0
213           Yemen  115.0  90.0   99.0  112.0  132.0  134.0  138.0  150.0
214      Yugoslavia   29.0  63.0   82.0   85.0   68.0   37.0    7.0   16.0
215          Zambia   32.0  26.0   21.0   27.0   16.0   20.0   22.0   35.0
216        Zimbabwe   54.0  46.0   46.0   47.0   65.0   62.0   77.0   73.0

      2000  ...   2021   2022          timezones  code      continent  \
0      NaN  ...  150.0  150.0         Asia/Kabul    AF           Asia
1     84.0  ...   66.0   65.0      Europe/Tirane    AL         Europe
2     78.0  ...   31.0   43.0     Africa/Algiers    DZ         Africa
3    201.0  ...  191.0  189.0  Pacific/Pago_Pago    AS  North America
4    146.0  ...  155.0  154.0     Europe/Andorra    AD         Europe
..     ...  ...    ...    ...                ...   ...            ...
212  103.0  ...   18.0   19.0      Europe/London    GB         Europe
213  158.0  ...  149.0  151.0          Asia/Aden    YE           Asia
214   10.0  ...    NaN    NaN    Europe/Belgrade    YG         Europe
215   41.0  ...   87.0   87.0      Africa/Lusaka    ZM         Africa
216   69.0  ...  113.0  122.0      Africa/Harare    ZW         Africa

              capital  country_abrv  confederation  timeDiff2018  timeDiff2022
0               Kabul           AFG            AFC           1.5           1.5
1              Tirana           ALB           UEFA           1.0           1.0
2             Algiers           ALG            CAF           2.0           2.0
3           Pago Pago           ASA            OFC           8.0           8.0
4    Andorra la Vella           AND           UEFA           1.0           1.0
..                ...           ...            ...           ...           ...
212           Cardiff           WAL           UEFA           2.0           2.0
213            Sana'a           YEM            AFC           0.0           0.0
214          Belgrade           YUG           UEFA           1.0           1.0
215            Lusaka           ZAM            CAF           1.0           1.0
216            Harare           ZIM            CAF           1.0           1.0

[217 rows x 40 columns]

In [46]:
df5.to_csv("./data/dataframe.csv",index=False)