In [ ]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

fifaUrl = 'https://www.fifa.com/fifa-world-ranking/men'
driver = webdriver.Chrome('C:/Temp/chromedriver')
driver.implicitly_wait(3)

In [ ]:
driver.get(fifaUrl)

In [ ]:
name = []
time = []
rank = []
maxurl = ('.ff-dropdown_dropupContentButton__3WmBL')
maxPage = driver.find_elements_by_css_selector(maxurl)
i = 1
while i <= (len(maxPage)):
    print(i)
    driver.get(fifaUrl)
    nextdown = driver.find_element_by_css_selector('#content > main > section:nth-child(2) > div > div > div.row > div.col-lg-3.d-flex.justify-content-lg-end.align-items-center > div > button') 
    nextdown.click()
    time.sleep(5)
    nexturl = ('#content > main > section:nth-child(2) > div > div > div.row > div > div > div > button:nth-child('+str(i)+')')
    nextPage = driver.find_element_by_css_selector(nexturl) 
    nextPage.click()
    time.sleep(5)
    for j in range(1,6):
        try:
            nextpage2 = driver.find_element_by_css_selector('#content > main > section > div > div > div > div > div > div > div > div.ff-mb-0.p > div:nth-child('+str(j)+')')
            nextpage2.click()
            time.sleep(5)
            ranking = driver.find_elements_by_css_selector('#content > main > section > div > div > div > table > tbody > tr > td > h6')
            for rk in ranking:
                rank.append(rk.text)
            names = driver.find_elements_by_css_selector('#content > main > section > div > div > div > table > tbody > tr > td > span.d-none.d-lg-block')
            for nm in names:
                name.append(nm.text)
            times = driver.find_element_by_css_selector('#content > main > section:nth-child(2) > div > div > div.row > div.col-lg-3.d-flex.justify-content-lg-end.align-items-center > div > button > div > div.d-flex.flex-row > p.ff-mb-0.ff-ml-8.ff-text-blue-cinema.link-small.ff-dropdown_rtlTextPadding__30brU')
            for k in range(len(name)):
                time.append(times.text)
        except:
            print(i,"번째",j,"페이지 오류")
            pass
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
38 번째 2 페이지 오류
38 번째 3 페이지 오류
39
39 번째 1 페이지 오류
39 번째 2 페이지 오류
39 번째 3 페이지 오류
39 번째 5 페이지 오류
40
40 번째 1 페이지 오류
40 번째 2 페이지 오류
40 번째 3 페이지 오류
40 번째 4 페이지 오류

In [44]:
with open('data/fifa_rank.csv','wt',encoding='utf-8') as f:
    f.write('name,rank,time\n')
    for i in range(len(rank)):
        f.write(name[i]+","+rank[i]+","+time[i]+'\n')

In [1]:
import pandas as pd
df = pd.read_csv('data/fifa_rank.csv',encoding='utf-8')

print(df.head())

     country  rank       time
0     Brazil     1  31-Mar-22
1    Belgium     2  31-Mar-22
2     France     3  31-Mar-22
3  Argentina     4  31-Mar-22
4    England     5  31-Mar-22

In [2]:
from datetime import datetime
import numpy as np

df['time'] = pd.to_datetime(df['time'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63283 entries, 0 to 63282
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  63283 non-null  object
 1   rank     63283 non-null  int64
 2   time     63283 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.4+ MB
None

In [3]:
df['Year'] = df['time'].dt.year

print(df.head())

     country  rank       time  Year
0     Brazil     1 2022-03-31  2022
1    Belgium     2 2022-03-31  2022
2     France     3 2022-03-31  2022
3  Argentina     4 2022-03-31  2022
4    England     5 2022-03-31  2022

In [33]:
df2 = df
print(df2.info())
df2 = df2.replace("North Macedonia","Macedonia")
df2 = df2.replace("FYR Macedonia","Macedonia")
df2 = df2.replace("Cabo Verde","Cape Verde")
df2 = df2.replace("Cape Verde Islands","Cape Verde")
df2 = df2.replace("IR Iran","Iran")
df2 = df2.replace("China PR","China")
df2 = df2.replace("Korea Republic","South Korea")
df2 = df2.replace("Korea DPR","North Korea")
df2 = df2.replace("Kyrgyz Republic","Kyrgyzstan")
df2 = df2.replace("Zaire","Congo DR")
df2 = df2.replace("Timor-Leste","East Timor")

print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63283 entries, 0 to 63282
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  63283 non-null  object
 1   rank     63283 non-null  int64
 2   time     63283 non-null  datetime64[ns]
 3   Year     63283 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63283 entries, 0 to 63282
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  63283 non-null  object
 1   rank     63283 non-null  int64
 2   time     63283 non-null  datetime64[ns]
 3   Year     63283 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.9+ MB
None

In [34]:
df3 =pd.pivot_table(df2,
                    index = 'country',
                    columns = 'time',
                    values = 'rank')
print(df3.head())
df3.to_csv('data/rank.csv',encoding='utf-8')

time            1992-12-31  1993-08-08  1993-09-23  1993-10-22  1993-11-19  \
country
Afghanistan            NaN         NaN         NaN         NaN         NaN
Albania               86.0        92.0        91.0        91.0        93.0
Algeria               30.0        34.0        30.0        31.0        33.0
American Samoa         NaN         NaN         NaN         NaN         NaN
Andorra                NaN         NaN         NaN         NaN         NaN

time            1993-12-23  1994-02-15  1994-03-15  1994-04-19  1994-05-17  \
country
Afghanistan            NaN         NaN         NaN         NaN         NaN
Albania               92.0        93.0        95.0        94.0        97.0
Algeria               35.0        37.0        37.0        38.0        46.0
American Samoa         NaN         NaN         NaN         NaN         NaN
Andorra                NaN         NaN         NaN         NaN         NaN

time            ...  2021-02-18  2021-04-07  2021-05-27  2021-08-12  \
country         ...
Afghanistan     ...       150.0       149.0       149.0       153.0
Albania         ...        66.0        66.0        66.0        69.0
Algeria         ...        31.0        33.0        33.0        30.0
American Samoa  ...       192.0       191.0       191.0       192.0
Andorra         ...       151.0       158.0       158.0       156.0

time            2021-09-16  2021-10-21  2021-11-19  2021-12-23  2022-02-10  \
country
Afghanistan          153.0       152.0       150.0       149.0       150.0
Albania               66.0        63.0        66.0        66.0        65.0
Algeria               30.0        30.0        32.0        29.0        43.0
American Samoa       192.0       192.0       190.0       190.0       190.0
Andorra              156.0       153.0       155.0       155.0       155.0

time            2022-03-31
country
Afghanistan          150.0
Albania               66.0
Algeria               44.0
American Samoa       189.0
Andorra              153.0

[5 rows x 319 columns]